a.navLink {
  color: var(--brightgold);
  text-decoration: none;
  font-family: 'Montserrat', sans;
  font-variant: small-caps;
}

.navItem {
  padding: 0 .375rem;
  margin: .25rem 0;
  text-align: center;
  border-right: 1px solid var(--brightgold);
  flex-grow: 1;
}

.navItem:last-child {
  margin-right: 0;
  border: 0;
}