
ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

ul > li {
  display: flex;
  justify-content: space-between;
  line-height: 1.2rem;
}

ul > li:nth-child(odd) {
  background-color: lightgray;
}