.fancyBorder {
  border: .1px solid transparent;
  border-image-source: url('../fancy-border.svg');
  border-image-slice: 33%;
  border-image-repeat: space;
  border-image-width: 7rem;
  padding: 3rem 2rem;
  flex-grow: 1;
  min-height: 14rem;
}

@media screen and (min-width: 65rem) {
  .fancyBorder {
    padding: 2rem;
  }
}