* {
  box-sizing: border-box;
}

:root {
  --brightgold: #c28f20;
  --royalblue: #0b0b13;
  --brightred: #5e080b;
  --deepred: #36070a;
}

body {
  background-color: var(--royalblue)
}

.base {
  width: 90%;
  margin: auto;
}

main.base {
  padding: .5rem;
  margin-top: 1rem;
  color: var(--brightgold);
  font-family: 'Montserrat', sans;
}

h2 {
  margin-top: 0;  
}

.formLink {
  color: var(--brightgold);
}

button {
  background-color: var(--deepred);
  border: 1px solid var(--brightgold);
  color: var(--brightgold);
  padding: .5rem;
}

.formButton:disabled {
  color: var(--brightred);
  border: 1px solid var(--brightred);
}

.error {
  color: red;
}