* {
  box-sizing: border-box;
}

:root {
  --brightgold: #c28f20;
  --royalblue: #0b0b13;
  --brightred: #5e080b;
  --deepred: #36070a;
}

body {
  background-color: var(--royalblue);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

main.base {
  flex-grow: 1;
  margin-top: 1rem;
  color: var(--brightgold);
  font-family: 'Cardo', serif;
  position: relative;
}

fade-enter {
  opacity: 0;
}

fade-enter-active {
  opacity: 100;
  transition: opacity 300ms;
}

fade-exit {

}

fade-exit-active {

}

h1 {
  font-size: 2rem;
}

h2 {
  margin-top: 0;
}

.formLink {
  color: var(--brightgold);
}

button {
  background-color: var(--deepred);
  border: 1px solid var(--brightgold);
  color: var(--brightgold);
  padding: .5rem;
  font-family: 'Montserrat', sans;
  font-size: 1rem;
  transition: background-color .35s;
  transition: border .175s;
}

button:disabled {
  color: var(--brightred);
  border: 1px solid var(--brightred);
  transition: background-color .35s;
  transition: border .175s;
}

button:active {
  background-color: var(--brightgold);
  transition: background-color .175s;
}

.error {
  color: red;
}

.modal {
  position: absolute;
  top: 0;
  right: 0;
  text-align: center;
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.modalButton {
  position: absolute;
  bottom: -.5rem;
  left: calc(50% - 3rem);
}

@media screen and (min-width: 35rem) {
  .modal {
    padding: 1rem 1rem 0 1rem;
    flex-grow: 1;
  }

  .modalButton {
    position: static;
    margin-top: 2rem;
  }
}
@media screen and (min-width: 65rem) {
  html {
    font-size: 1.5rem;
  }
}