* {
  box-sizing: border-box;
}

:root {
  --brightgold: #c28f20;
  --royalblue: #0b0b13;
  --brightred: #5e080b;
  --deepred: #36070a;
}

body {
  background-color: var(--royalblue)
}

main.base {
  margin-top: 1rem;
  color: var(--brightgold);
  font-family: 'Cardo', serif;
}

h2 {
  margin-top: 0;  
}

.formLink {
  color: var(--brightgold);
}

button {
  background-color: var(--deepred);
  border: 1px solid var(--brightgold);
  color: var(--brightgold);
  padding: .5rem;
  font-family: 'Montserrat', sans;
  font-size: 1rem;
}

button:disabled {
  color: var(--brightred);
  border: 1px solid var(--brightred);
}

.error {
  color: red;
}

.fancyBorder {
  border: .1px solid transparent;
  border-image-source: url('../fancy-border.svg');
  border-image-slice: 33%;
  border-image-repeat: space;
  border-image-width: 7rem;
}

@media screen and (min-width: 35rem) {
  html {
    font-size: 1.5rem;
  }
}