.turnResultMessage {
  margin: 2.5rem 1rem;
  font-size: 1.25rem;
}

.overlay {
  background-color: var(--royalblue);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.overlay > .modal {
  position: static;
}