.game {
  display: flex;
  flex-direction: column;
  margin-top: calc(-1rem + 1px);
}

.path-enter-active > .game {
  left: -.75rem;
}

.modalWrapper {
  position: relative;
  display: flex;
  flex-grow: 1;
}

.transition-enter {
  opacity: 0;
}

.transition-enter-active {
  transition-property: opacity;
  transition-duration: .35s;
  opacity: 100;
}

.transition-exit-active {
  transition-property: opacity;
  transition-duration: .35s;
  opacity: 0;
}

@media screen and (min-width: 35rem) {  
  .game {
    flex-direction: row;
  }
}