.gameStatus {
  display: flex;
  justify-content: stretch;
  margin: 1rem .5rem;
  padding: .25rem 0;
  /* border: 1px solid #ffe03370; */
  border-top: .5rem dotted var(--brightgold);
  border-bottom: .5rem dotted var(--brightgold);
  box-shadow: 
    inset 0 .15rem 0 0 var(--royalblue), 
    inset 0 .3125rem 0 0 var(--brightgold),
    inset 0 -.15rem 0 0 var(--royalblue), 
    inset 0 -.3125rem 0 0 var(--brightgold);
  
  font-family: 'Montserrat', sans;
  font-variant: small-caps;
  font-size: 1rem;
  color: var(--brightgold);
}

.turnInfo, .positionDisplay {
  margin: .25rem 0;
  background-color: var(--brightred);
}
.turnInfo {
  padding: 0 .25rem;
  flex-grow: 1;
}

.turnInfo > ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

@media screen and (min-width: 35rem) {
  .gameStatus {
    flex-grow: 2;
    max-height: 9rem;
  }
}