header{
  /* background-color: var(--brightred); */
  padding-top: 1rem;
  color: var(--brightgold);
}

.crown {
  position: absolute;
  width: 4rem;
  top: .5rem;
  left: calc(50vw - 2rem);
}
.hero {
  width: 100%;
  height: 12rem;
  border: 1px solid transparent;
  border-image-source: url('../fancy-border.svg');
  border-image-slice: 33%;
  border-image-repeat: space;
  border-image-width: 7rem;
  text-align: center;
  font-size: 1rem; 
  font-family: 'Montserrat', sans;
  padding: 2rem;
}

.masthead {
  padding: 2rem;
  margin: .875rem 0;
}

.small-masthead {
  text-align: center;
  font-variant: small-caps;
  margin: 0 auto;
  padding: .75rem 0;
  
}