header{
  /* background-color: var(--brightred); */
  padding-top: 1rem;
  color: var(--brightgold);
}


.hero {
  width: 95%;
  margin: auto;
  border: 1px solid transparent;
  border-image-source: url('../fancy-border.svg');
  border-image-slice: 33%;
  border-image-repeat: space;
  border-image-width: 7rem;
  text-align: center;
  font-size: 1rem; 
  font-family: 'Montserrat', sans;
  padding: 2rem;
}

.masthead {
  padding: 2rem;
}

.small-masthead {
  text-align: center;
  font-variant: small-caps;
  margin: 0 auto;
  padding: .75rem 0;
  height: 4rem;
  
}

.small-header-exit {
  position: absolute;
  left: 0;
  top: 1rem;
  width: 100vw;
  opacity: 100;
}

.small-header-exit-active {
  opacity: 0;
  transition: opacity .5s;
}

.small-header-enter {
  opacity: 0;
  position: absolute;
  left: 0;
  top: 1rem;
  width: 100vw;
}

.small-header-enter-active {
  opacity: 100%;
  transition: opacity .5s;
  transition-delay: .5s;
}

.big-header-exit.fancyBorder{
  height: 14rem;
}

.big-header-exit-active.fancyBorder {
  margin-top: -2px;
  min-height: unset;
  height: 4rem;
  opacity: 0;
  transition: all .5s;
}

.big-header-enter.fancyBorder {
  height: 4rem;
  min-height: unset;
  opacity: 0;
  margin-bottom: -2px;
}

.big-header-enter.fancyBorder > h1 {
  opacity: 100;
}

.big-header-enter-active.fancyBorder {
  opacity: 100;
  height: 14rem;
  transition: all .5s;
  transition-delay: .5s;
}
.big-header-enter-done.fancyBorder {
  height: 14rem;
}