.numberInput, .textInput {
  background-color: var(--deepred);
  border: 1px solid var(--brightgold);
  padding: .25rem;
  color: var(--brightgold);
}

.numberInput{
  width: 3rem;
}

.formInput {
  display: flex;
  max-width: 30rem;
}

.formInput > label {
  margin-right: 1rem;
}

.textInput {
  /* max-width: 20rem; */
  min-width: 50%;
  flex-grow: 1;
}