nav {
  position: sticky;
  top: 0;
  background: var(--royalblue);
  z-index: 1;
}

.navigation {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: .125rem .25rem;
  background-color:  var(--brightred);
  border-top: 1px solid var(--brightgold);
  border-bottom: 1px solid var(--brightgold);
  height: 2rem;
}