.card {
  padding: 0;
  margin: 0;
  background-color: var(--royalblue);
  flex-direction: column;
}

.challenge {
  text-align: center;
  padding: 2rem;
  flex-grow: 1;
}

.challengeAltText {
  font-family: 'Frank Ruhl Libre', serif;
  font-size: 6rem;
  line-height: 8rem;
  display: inline;
  color: var(--brightgold);
}

.challengeAltText.word {
  font-size: 4rem;
}

.challengeText, .challengeAnswers {
  font-family: 'Montserrat', sans;
  font-variant: small-caps;
  font-size: 1rem;
  color: var(--brightgold);
}

.challengeText {
  text-align: center;
  margin: .5rem 0;
}

.challengeAnswers {
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
  flex-direction: column;
  list-style: none;
}

.turnActions {
  display: flex;
  flex-direction: row-reverse;
}

.turnActions > button {
  min-width: 25%;
  margin: 0 2px;
}

.answerButton {
  font-size: 1.25rem;
  flex-grow: 1;
}

@media screen and (min-width: 35rem) {  .card {
    flex-grow: 1;
    width: calc(100vw - 11.875rem);
  }

  .challenge {
    margin: 0 1rem;
    padding: 3rem;
  }

  .challengeAnswers {
    flex-direction: row;
  }
}